params {

    input           = null
    outdir          = "results"
    build_references  = false

    help            = false
    list_dbs        = false

    reference_base  = null
    reference_version = "1.0"

    logo            = "${baseDir}/assets/pipelinelogo.png"
    run_name        = null

    db              = null
    blocklist       = "${baseDir}/assets/blocklist.txt"

    disable_low_complexity  = false
    blast_low_complexity    = "-dust no -soft_masking false"
    blast_evalue            = "1e-20"
    blast_qcov              = 100
    blast_perc_id           = 97
    blast_bitscore_diff     = 4
    blast_min_consensus     = 0.51

    taxid_filter            = 33208      // NCBI taxonomy id

    conda.enabled   = false
    singularity.enabled = false
    docker.enabled  = false
    podman.enabled  = false
    apptainer.enabled = false

    multiqc_config  = "${baseDir}/conf/multiqc_config.yaml"
    multiqc_logo    = "${baseDir}/assets/pipelinelogo.png"

    publish_dir_mode    = 'copy'
    custom_config_base = "https://raw.githubusercontent.com/bio-raum/nf-configs/main"
}

manifest {
    name = "marchoeppner/sanger-taxonomy"
    version = "0.3"
    description = "Sanger Taxonomy Pipeline"
    author = "Marc Hoeppner"
    homePage = "https://github.com/marchoeppner/sanger-taxonomy"
    nextflowVersion = "24.10.5"
}

plugins {
  id 'nf-schema@2.4.0'
}

validation {
    help {
        enabled = true
    }
    summary {
        hideParams = [ "references" ]
    }
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_timeline.html"
}
report {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_report.html"
}
trace {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_trace.txt"
}
dag {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
}

// Custom options for some modules
includeConfig 'conf/modules.config'

// Load centrally stored profiles
includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/custom.config" : "/dev/null"

// Default configs to load for all profiles
includeConfig 'conf/base.config'
includeConfig 'conf/resources.config'
includeConfig 'conf/modules/blast.config'
includeConfig 'conf/modules/build_references.config'

profiles {

    docker { 
        docker.enabled = true 
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true 
    }
    conda {
        conda.enabled = true
    }
    podman {
        podman.enabled = true
    }
    apptainer {
        apptainer.enabled = true
    }
    test {
        includeConfig 'conf/test.config'
    }
}
