process {
    
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        enabled: false
    ]
    withName: TRACY_CONSENSUS {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/tracy" },
            mode: params.publish_dir_mode,
            enabled: true,            
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: TRACY_BASECALL {
        ext.args = "-f fastq"
        publishDir = [
            path: { "${params.outdir}/samples/${meta.sample_id}/tracy" },
            mode: params.publish_dir_mode,
            enabled: true,            
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: MULTIQC {
        ext.prefix = "${params.run_name}"
        publishDir = [
            path: { "${params.outdir}/MultQC" },
            mode: params.publish_dir_mode,
            enabled: true,            
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'HELPER_REPORT_XLSX|HELPER_REPORTS_JSON|HELPER_JSON2REPORT' {
        publishDir = [
            path: { "${params.outdir}/reports" },
            mode: params.publish_dir_mode,
            enabled: true,            
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: HELPER_REPORTS_JSON {
        ext.args = "--run_name ${params.run_name}"
    }

}
