process {
    
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        enabled: false
    ]

    withName: VSEARCH_SINTAX {
        ext.args = "-strand both -sintax_cutoff 0.9" 
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/" },
            mode: params.publish_dir_mode,
            enabled: true,            
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: MULTIQC {
        ext.prefix = "${params.run_name}_"
        publishDir = [
            path: { "${params.outdir}/MultQC" },
            mode: params.publish_dir_mode,
            enabled: true,            
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
