params {
    primers {
        "kammuschel" {
            config = "${baseDir}/conf/primers/kammuschel.config"
        }
        "labelfish" {
            config = "${baseDir}/conf/primers/labelfish.config"
        }
        "krebse" {
            config = "${baseDir}/conf/primers/krebse.config"
        }
        "fish_touchdown" {
            config = "${baseDir}/conf/primers/fish_touchdown.config"
        }
        "tintenfisch" {
            config = "${baseDir}/conf/primers/tintenfisch.config"
        }
        "miesmuschel" {
            config = "${baseDir}/conf/primers/miesmuschel.config"
        }
        "hirschartige" {
            config = "${baseDir}/conf/primers/hirschartige.config"
        }
        "cytb_touchdown" {
            config = "${baseDir}/conf/primers/cytb_touchdown.config"
        }
    }
}