params {

  references {
    
    genes {

      'lrna' {
        sintax_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/SINTAX/uniq/MIDORI2_UNIQ_NUC_GB259_lrRNA_SINTAX.fasta.gz"
        sintax_db = "${params.reference_base}/eutaxpro/1.0/MIDORI2_UNIQ_NUC_GB259_lrRNA_SINTAX.fasta.gz"
      }
      'srna' {
        sintax_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/SINTAX/uniq/MIDORI2_UNIQ_NUC_GB259_srRNA_SINTAX.fasta.gz"
        sintax_db = "${params.reference_base}/eutaxpro/1.0/MIDORI2_UNIQ_NUC_GB259_srRNA_SINTAX.fasta.gz"
      }
      'co1' {
        sintax_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/SINTAX/uniq/MIDORI2_UNIQ_NUC_GB259_CO1_SINTAX.fasta.gz"
        sintax_db = "${params.reference_base}/eutaxpro/1.0/MIDORI2_UNIQ_NUC_GB259_CO1_SINTAX.fasta.gz"
      }
      'co2' {
        sintax_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/SINTAX/uniq/MIDORI2_UNIQ_NUC_GB259_CO2_SINTAX.fasta.gz"
        sintax_db = "${params.reference_base}/eutaxpro/1.0/MIDORI2_UNIQ_NUC_GB259_CO2_SINTAX.fasta.gz"
      }
      'co3' {
        sintax_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/SINTAX/uniq/MIDORI2_UNIQ_NUC_GB259_CO3_SINTAX.fasta.gz"
        sintax_db = "${params.reference_base}/eutaxpro/1.0/MIDORI2_UNIQ_NUC_GB259_CO3_SINTAX.fasta.gz"
      }
      'a6' {
        sintax_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/SINTAX/uniq/MIDORI2_UNIQ_NUC_GB259_A6_SINTAX.fasta.gz"
        sintax_db = "${params.reference_base}/eutaxpro/1.0/MIDORI2_UNIQ_NUC_GB259_A6_SINTAX.fasta.gz"
      }
      'a8' {
        sintax_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/SINTAX/uniq/MIDORI2_UNIQ_NUC_GB259_A8_SINTAX.fasta.gz"
        sintax_db = "${params.reference_base}/eutaxpro/1.0/MIDORI2_UNIQ_NUC_GB259_A8_SINTAX.fasta.gz"
      }
      'cytb' {
        sintax_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/SINTAX/uniq/MIDORI2_UNIQ_NUC_GB259_Cytb_SINTAX.fasta.gz"
        sintax_db = "${params.reference_base}/eutaxpro/1.0/MIDORI2_UNIQ_NUC_GB259_Cytb_SINTAX.fasta.gz"
      }
      'nd1' {
        sintax_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/SINTAX/uniq/MIDORI2_UNIQ_NUC_GB259_ND1_SINTAX.fasta.gz"
        sintax_db = "${params.reference_base}/eutaxpro/1.0/MIDORI2_UNIQ_NUC_GB259_ND1_SINTAX.fasta.gz"
      }
      'nd2' {
        sintax_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/SINTAX/uniq/MIDORI2_UNIQ_NUC_GB259_ND2_SINTAX.fasta.gz"
        sintax_db = "${params.reference_base}/eutaxpro/1.0/MIDORI2_UNIQ_NUC_GB259_ND2_SINTAX.fasta.gz"
      }
      'nd3' {
        sintax_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/SINTAX/uniq/MIDORI2_UNIQ_NUC_GB259_ND3_SINTAX.fasta.gz"
        sintax_db = "${params.reference_base}/eutaxpro/1.0/MIDORI2_UNIQ_NUC_GB259_ND3_SINTAX.fasta.gz"
      }
      'nd4l' {
        sintax_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/SINTAX/uniq/MIDORI2_UNIQ_NUC_GB259_ND4L_SINTAX.fasta.gz"
        sintax_db = "${params.reference_base}/eutaxpro/1.0/MIDORI2_UNIQ_NUC_GB259_ND4L_SINTAX.fasta.gz"
      }
      'nd4' {
        sintax_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/SINTAX/uniq/MIDORI2_UNIQ_NUC_GB259_ND4_SINTAX.fasta.gz"
        sintax_db = "${params.reference_base}/eutaxpro/1.0/MIDORI2_UNIQ_NUC_GB259_ND4_SINTAX.fasta.gz"
      }
      'nd5' {
        sintax_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/SINTAX/uniq/MIDORI2_UNIQ_NUC_GB259_ND5_SINTAX.fasta.gz"
        sintax_db = "${params.reference_base}/eutaxpro/1.0/MIDORI2_UNIQ_NUC_GB259_ND5_SINTAX.fasta.gz"
      }
      'nd6' {
        sintax_url = "https://www.reference-midori.info/download/Databases/GenBank259_2023-12-17/SINTAX/uniq/MIDORI2_UNIQ_NUC_GB259_ND6_SINTAX.fasta.gz"
        sintax_db = "${params.reference_base}/eutaxpro/1.0/MIDORI2_UNIQ_NUC_GB259_ND6_SINTAX.fasta.gz"
      }

    }

  }
  
}
